* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f8f8;
}

header {
    background: #ff5722;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 28px;
}
/* Back Button */
.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-btn a {
    text-decoration: none;
    background: #ff7e5f;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.back-btn a:hover {
    background: #e76b50;
}
.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 30px;
}

.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h2 {
    margin-bottom: 10px;
}

.card-content p {
    color: gray;
    font-size: 14px;
    margin-bottom: 15px;
}

button {
    background: #ff5722;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e64a19;
}